{% load static %}
  <!-- service section -->
  <section id="services" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Our Forensic Services</h2>
        <div class="row g-4">
          {% for service in services %}
            <!-- Service 1 -->
            <div class="col-md-4">
                <div class="card service-card h-100 shadow-sm">
                    <img src="{{ service.image.url }}" class="card-img-top service-img" alt="Digital Forensics">
                    <div class="card-body text-center">
                        <h5 class="card-title mt-3">{{ service.title }}</h5>
                        <p class="card-text">{{ service.discription }}</p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
  <!-- end service section -->

  <!-- security section -->

  <!-- <section class="security_section layout_padding">
    <h3>
      Security


    </h3>
    <h2>
      Our Guard
    </h2>
    <div class="security_container">
      <div class="carousel-wrap">
        <div class="owl-carousel">
          <div class="item">
            <div class="security_img-box i-box-1">
              <a href=""> View More</a>
            </div>
          </div>
          <div class="item">
            <div class="security_img-box i-box-2">
              <a href=""> View More</a>
            </div>
          </div>
          <div class="item">
            <div class="security_img-box i-box-3">
              <a href=""> View More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="security_btn">
      <a href="">
        <span>
          Read More
        </span>
        <img src="images/arrow-black.png" alt="" class="ml-2" />
      </a>
    </div>
  </section> -->

  {% include 'home/staff.html' %}
  <!-- end security section -->