{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="slider-content">
  <div class="row">
    <h1>helo world</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators (optional) -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    
      <!-- Slides -->
      <div class="carousel-inner">
        {% for home in homes %}
        <div class="carousel-item active">
          <img src="{{ home.image.url }}" class="d-block w-100" alt="Slide 1">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ home.title }}</h5>
            <p>{{ home.description }}</p>
          </div>
        </div>

        {% endfor %}
        <!-- <div class="carousel-item">
          <img src="{% static 'images/security-1.jpg' %}" class="d-block w-100" alt="Slide 2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second Slide Title</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://via.placeholder.com/800x400?text=Slide+3" class="d-block w-100" alt="Slide 3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third Slide Title</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div> -->
      </div>
    
      <!-- Navigation controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
</section>

  <section class="welcome_section layout_padding">
    <div class="container-fluid">
      {% for about in abouts %}
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="{{ about.image.url }}" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="welcome_detail">
            <h3>
              Welcome
            </h3>
            <h2>
              {{ about.title }}
            </h2>
            <p>
              {{ about.description }}
            </p>
            <div class="welcome_detail-btn">
              <a href="">
                <span>
                  Read More
                </span>
                <img src="{% static 'images/arrow-black.png' %}" alt="" class="ml-2" />
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- end welcome section -->
  {% include 'home/service.html' %}
  <!-- end service section -->

  <!-- security section -->

  
  <!-- end security section -->


  <!-- story section -->

 {% include 'home/successStory.html' %}
  
  {% include 'home/client_feedback.html' %}
  <!-- contact section -->
  {% include 'home/contact.html' %}
  <!-- end contact section -->
 {% endblock %}
